/* Global Styles */

:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --accent-color: #e74c3c;
    --text-color: #333;
    --light-gray: #f5f6fa;
    --transition: all 0.3s ease;
  }
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c6d3bf;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Header Styles */
header {
    background: linear-gradient(135deg, #4b6cb7, #182848);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: -webkit-sticky;
    top: 0;
    z-index: 300;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Added box shadow */
}


header h1 {
    margin: 0;
    font-size: 3em;
    letter-spacing: 1px;
}

header p {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 300;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    font-size: 1.1em;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
    transform: translateY(-3px);
}

/* Section Styles */
section {
    padding: 60px 20px;
    margin: 20px auto;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow */
    transition: all 0.3s ease;
}


section h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #333;
}

section h3 {
    font-size: 1.7em;
    color: #4b6cb7;
    margin-bottom: 15px;
}


section p, section ul {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

/* Experience, Education, and Project Styling */
div h3 {
    font-size: 1.8em;
    font-weight: 600;
}

ul {
    list-style: disc inside;
    padding-left: 20px;
}

.prsection hoject img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.project {
    margin-bottom: 40px;
}

.project h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.1em;
    color: #777;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form input, form textarea {
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.1em;
    background-color: #f7f7f7;
}

form button {
    padding: 15px;
    font-size: 1.2em;
    margin-top: 15px;
    background-color: #4b6cb7;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #365b9b;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

footer p {
    font-size: 1.1em;
}

/* Social Icons */
#social-media {
    text-align: center;
    margin-top: 40px;
}

#social-media h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    font-size: 2em;
    color: #555;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
    color: #0073b1; 
    transform: scale(1.1);
}

/* social media */
.linkedin {
    color: #0073b1; 
}

.researchgate {
    color: #1DA1F2;
}

.github {
    color: #333; 
}

.instagram {
    color: #E4405F; /* Instagram color */
}

@media (max-width: 768px) {
    .social-icon {
        font-size: 1.5em;
    }
}


/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4b6cb7;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease;
}

.back-to-top:hover {
    background-color: #365b9b;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.3em;
    }

    header p {
        font-size: 1.2em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 40px 20px;
    }

    section h2 {
        font-size: 2em;
    }

    .project h3 {
        font-size: 1.5em;
    }

    .social-icons a {
        font-size: 1.5em;
    }
}

.progress-bar {
    background-color: var(--light-gray);
    border-radius: 10px;
    height: 20px;
    margin: 1rem 0;
    overflow: hidden;
  }
  
  .progress {
    background-color: var(--secondary-color);
    height: 100%;
    border-radius: 10px;
    transition: width 1s ease-in-out;
  }

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #ff6347;
    color: white;
    font-size: 1.2em;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff4500;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.about-image {
    margin: 20px 0;
    max-width: 150px;
    border-radius: 50%;
}


.experience-item {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow */
}


.testimonial {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input, form textarea {
    font-size: 1em;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

form input:focus, form textarea:focus {
    border-color: #4b6cb7;
}

form button {
    background-color: #4b6cb7;
    border-radius: 6px;
    padding: 12px;
    font-size: 1.1em;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #365b9b;
}

#social-media {
    text-align: center;
    margin-top: 40px;
}

#social-media h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    font-size: 1.5em;
    color: #555;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
    color: #0073b1; 
    transform: scale(1.1);
}